
.footer{
  background: #000000;
}

.footer-container{
  display: flex;
  padding: 50px 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-container .footer-section h3{
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 10px;
}

.footer-container .footer-section ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-container .footer-section ul li a{
  text-decoration: none;
  color: #FFFFFF99;
}




/* Extra small devices (phones, 0px - 575px) */
@media (max-width: 575px) {
  .footer-container{
    padding: 50px 12px;
  }

  .lasfooter{
    width: 40%;
  }
}


/* Small devices (landscape phones, 576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/* Medium devices (tablets, 768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* Large devices (desktops, 992px - 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/* Extra large devices (large desktops, 1200px - 1399px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  
}

/* XXL devices (very large screens, 1400px and up) */
@media (min-width: 1400px) {
  
}